.cards {
    display: flex;
    text-align: center;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-style: ridge;
    border-color: black;
    border-radius: 25px;
    width: 25em;
    color: white;
    font-weight: bolder;
    font-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-shadow: 0 4px 8px 4px rgb(0, 0, 0);
    border: 5px solid rgb(225, 215, 215);
    backdrop-filter: blur(50px);
    background-image: radial-gradient(rgb(101, 182, 154), rgb(50, 84, 72), black);
}

.cards:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 4px rgb(255, 255, 255);
}

.flag {
    margin-top: 10px;
    width: 20em;
    box-shadow: 0 4px 8px 4px black;
}

