.cards {
    display: flex;
    text-align: center;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-style: ridge;
    border-color: black;
    border-radius: 25px;
    width: 25em;
    color: white;
    font-weight: bolder;
    font-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-shadow: 0 4px 8px 4px rgb(0, 0, 0);
    border: 5px solid rgb(225, 215, 215);
    background-image: linear-gradient(to right, #9126bf, #3b1a51, #9126bf);
}

.cards:hover {
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 8px 4px rgb(255, 255, 255);
    bottom: 10px;
}

.name {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
}

.flag {
    margin-top: 10px;
    width: 20em;
    box-shadow: 0 4px 8px 4px black;
}



